#message-pane {
   background: url(https://cdn4.iconfinder.com/data/icons/keynote-and-powerpoint-icons/256/Messages-512.png);
   background-repeat: no-repeat;
   background-size: cover;
   background-position: right bottom
}
